/* common css ============================================== */
:focus{outline:none;}
.validform .need{
	width:10px;
	color:#b20202;
}
.validform td{
	padding:3px 0;
	vertical-align:middle;
/*	text-align:left;*/
}
.validform .td30{
	line-height:30px;
	height:30px;
}

.validform .inputxt,.validform textarea{
	border:1px solid #a5aeb6;
	width:215px;
	padding:5px;
}
.validform textarea{
	height:75px;
}
.validform .tip{
	/*line-height:20px;
	color:#5f6a72;*/
}

.validform{
	/*padding-left:60px;*/
	}
.validform .val_left{
	width:80px;
	line-height:1px;
	height:1px;
	}
.validform .val_center{
	width:230px;
	line-height:1px;
	height:1px;
	}
.validform .val_right{
	width:auto;
	line-height:1px;
	height:1px;
	}
.validform .val_place #p_id{
	width:125px;}
.validform .val_place #c_id{
	width:100px;}
	
.validformalter select{
	width:124px;
}







/*==========以下部分是必须的(提示框样式)===========*/
.validform_checktip{
	padding-left:8px;
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(/public/js/validform/images/right.png) no-repeat left center;
}
.validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(/public/js/validform/images/error.png) no-repeat left center;
}
.validform_loading{
	padding-left:20px;
	background:url(/public/js/validform/images/onLoad.gif) no-repeat left center;
}
.validform_error{
	background-color:#ffe7e7;
}
#validform_msg div{ background-color:#FAB777; }
#validform_msg{ color:#666; font: 12px tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:4px 4px 6px #aaa; -moz-box-shadow:6px 4px 6px #aaa; background-color:#FAB777; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');

border:5px solid #faB777;

border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;

-moz-box-shadow: 0 0 20px #666;
-webkit-box-shadow: 0 0 20px #666;
/*box-shadow: 0 0 60px #666;*/
box-shadow:0px 5px 50px #666,box-shadow:0 0 50px 20px #fff;
}
#validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1; display:none;}
#validform_msg .validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#000; position:relative; background-color:#f5bb02;}
#validform_msg a.validform_close:link,#validform_msg a.validform_close:visited{line-height:22px; position:absolute; right:8px; top:5px; color:#000; text-decoration:none;}
#validform_msg a.validform_close:hover{color:#cc0;}
#validform_msg .validform_info{ background-color:#f9d55b;padding:8px;border:1px solid #deac0c; border-top:none; text-align:left; font-family:"宋体"; font-size:14px; color:#614c08; }